# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------
venv/
.venv/
env/
ENV/

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*

# -------------------------
# Django
# -------------------------
db.sqlite3
db_backup.sqlite3
media/
staticfiles/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Pytest / Coverage
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Type Checkers
# -------------------------
.mypy_cache/
.pyre/
.pytype/

# -------------------------
# Distribution
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# Secrets
# -------------------------
*.pem
*.key